<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">

    <!-- Website Font style -->
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css') }}">

    <!-- Google Fonts -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Passion+One') }}" rel='stylesheet' type='text/css'>
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Oxygen ') }}" rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
{% block fos_user_content %}
{% endblock fos_user_content %}
</body>
<script type="text/javascript" src="{{  asset('js/bootstrap.js')}}"></script>
</html>