{% extends 'UtopiaBundle::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Créer un Client
            </h1>

        </div>
    </div>

    <div class="content">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">

            {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.nom) }}

            <div class="col-sm-6">

                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">

            {{ form_label(form.imageClient, "File", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.imageClient) }}

            <div class="col-sm-6">


                <label class="btn btn-default btn-lg" style="width: 60% ; cursor: pointer">
                    {{ form_widget(form.imageClient.file, {'attr': {'class': 'inputFile','id':'my-file-selector','type':'file','style':'display:none;', "onchange":"$('#upload-file-info').html($(this).val());"}}) }}
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>

        <div class="form-group">


            <div class="col-sm-9">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success pull-right'}}) }}

            </div>
        </div>



        {{ form_row(form._token) }}

    </div>


{% endblock %}



